<!DOCTYPE html>
<html>
    <body>
    <br>
        <div class="container">
        <h1> Binary Numbers </h1>

        <p>Binary Numbers Instructions Sheet </p>
            <embed src="/src/static/bin_nums_instructions.docx.pdf" type="application/pdf" title="Binary Numbers Instruction" width="100%"
            height="500px">
        </div>
    </br>

    <br>
        <div class="container">
        <h1></h1>

        <p>Binary Numbers Worksheet</p>
            <embed src="/src/static/bin_nums_worksheet.pdf" type="application/pdf" title="Binary Numbers Worksheet" width="100%"
            height="500px">
        </div>
    </br>

    <br>
        <div class="container">
        <h1></h1>

        <p>Binary Numbers  Answer Key </p>
            <embed src="/src/static/bin_nums_key.pdf" type="application/pdf" title="Binary Numbers AnswerKey" width="100%"
            height="500px">
        </div>
    </br>








    </body>
</html>