<!DOCTYPE html>
<html>
    <body>
    <br>
        <div class="container">
        <h1> Fibonacci Sequence </h1>

        <p> Fibonacci Sequence Lesson Plan </p>
            <embed src="/src/static/Fibonacci Sequence lesson plan.docx.pdf" type="application/pdf" title="Fibonacci" width="100%"
            height="500px">
        </div>
    </br>

    <br>
        <div class="container">
        <h1></h1>

        <p>Fibonacci Simple Worksheet</p>
            <embed src="/src/static/FibonacciWorksheetSimple.pdf" type="application/pdf" title="FibonacciWorksheetSimple" width="100%"
            height="500px">
        </div>
    </br>

    <br>
        <div class="container">
        <h1></h1>

        <p>Fibonacci Simple Answer Key </p>
            <embed src="/src/static/FibonacciSimpleAnswerKey.pdf" type="application/pdf" title="FibonacciSimpleAnswerKey" width="100%"
            height="500px">
        </div>
    </br>








    </body>
</html>