<!DOCTYPE html>
<html>
    <body>
    <br>
        <div class="container">
        <h1> Minecraft- Hour of Code  </h1>

        <p>Hour of Code: Minecraft Instructions </p>
            <embed src="/src/static/Hour_of_Code_ Minecraft Instructions.pdf" type="application/pdf" title="5.1 Lesson" width="100%"
            height="500px">
        </div>
    </br>

    <br>
        <div class="container">
        <h1></h1>

        <p>Answer Key - Minecraft  </p>
            <embed src="/src/static/Hour_of_Code_ Minecraft Key.pdf" type="application/pdf" title="Students Guide " width="100%"
            height="500px">
        </div>
    </br>





    </body>
</html>