{% extends "base.html" %}
{% block content %}
<html>

<body>
    <h1>Dr. Caroline Budwell</h1>
    <h2>Home</h2>
    <ul>
        <li>
            <a href="/~ccbudwell/App">Flowchart App</a>
        </li>
        <li>
            <a href="/~ccbudwell/Birthday">Birthday Program</a>
        </li>
        <li>
            <a href="{{url_for('lawncare')}}">LawnCareProblem</a>
        </li>
        <li>
            <a href="{{url_for('positivenegative')}}">PositiveNegativeZero</a>
        </li>
        <li>
            <a href="{{url_for('calculator')}}">CalculatorProgram</a>
        </li>
        <li>
            <a href="{{url_for('inputoutput')}}">InputOutputTable</a>
        </li>
    </ul>
</body>

</html>

{% endblock %}