{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html>
  <body>
    <br>
        <div class="container">
        <h1> 5.1 Lesson</h1>

        <p>My first paragraph.</p>
        <p> 5.1 Lesson Plan</p>
            <object data="/static/5.1LessonPlan.pdf#toolbar=0" type="application/pdf" title="5.1 Lesson" width="100%"
            height="500px"></object>
        </div>
    </br>
    <br>
        <div class="container">
        <h1></h1>
        <p>5.1 Worksheet student Copy</p>
            <object data="/static/5.1WorksheetStudentCopy.pdf#toolbar=0" type="application/pdf" title="5.1 Worksheet Student Copy" width="100%"
            height="500px"></object>

        </div>
    </br>
    <br>
        <div class="container">
        <h1></h1>
        <p>5.1 Worksheet Teachers Copy</p>
            <object data="/static/5.1WorksheetTeacherCopy.pdf" type="application/pdf" title="5.1 Worksheet Student Copy" width="100%"
            height="500px"></object>

        </div>
    </br>
    <br>
        <div class="container">
        <h1></h1>
        <p>5.1- 5.2</p>
            <object data="/static/5.1-5.2.pdf#toolbar=0" type="application/pdf" title="5.1 Worksheet Student Copy" width="100%"
            height="500px"></object>

        </div>
    </br>
    <br>
        <div class="container">
        <h1></h1>
        <p>Instruction for 5.1 Exercises In Scratch</p>
            <object data="/static/Instructionfor5.1ExercisesInScratch.pdf#toolbar=0" type="application/pdf" title="5.1 Worksheet Student Copy" width="100%"
            height="500px"></object>

        </div>
    </br>
    
  </body>
</html>

{% endblock %}
