<!-- {% extends "base.html" %} {% block content %} -->
<!DOCTYPE html>
<html>
  <body>
    <br>
        <div class="container">
        <h1> 5.1 - Input and Output Lesson</h1>

        <p> 5.1 Lesson Plan</p>
            <embed src="/src/static/5.1LessonPlan.pdf#toolbar=0" type="application/pdf" title="5.1 Lesson" width="100%"
            height="500px">
        </div>
    </br>
    <br>
        <div class="container">
        <h1></h1>
        <p>Worksheet student Copy</p>
            <embed src="/src/static/5.1 Worksheet StudentCopy2.pdf#toolbar=0" type="application/pdf" title="5.1 Worksheet Student Copy" width="100%"
            height="500px">

        </div>
    </br>
    <br>
        <div class="container">
        <h1></h1>
        <p>Worksheet Teachers Copy</p>
            <embed src="/src/static/5.1WorksheetTeacherCopy2.pdf" type="application/pdf" title="5.1 Worksheet Student Copy" width="100%"
            height="500px">

        </div>
    </br>
    <br>
        <div class="container">
        <h1></h1>
        <p>Modules for Lesson 5</p>
            <embed src="/src/static/5.1-5.2.pdf#toolbar=0" type="application/pdf" title="5.1 Worksheet Student Copy" width="100%"
            height="500px">

        </div>
    </br>
    <br>
        <div class="container">
        <h1></h1>
        <p>Instruction for 5.1 Exercises In Scratch</p>
            <embed src="/src/static/Instructionfor5.1ExercisesInScratch.pdf#toolbar=0" type="application/pdf" title="5.1 Worksheet Student Copy" width="100%"
            height="500px">

        </div>
    </br>
    
  </body>
</html>

<!-- {% endblock %} -->
