{% extends "base.html" %}
{% block content %}
<html>

<body>
    <h1> Welcome to Scratch Exercises ! </h1>
    <div class="options">
        <ul>
            <li>
                <a href="{{url_for('lawncare')}}">LawnCare Problem</a>
            </li>
            <li>
                <a href="{{url_for('positivenegative')}}">Positive Negative Zero</a>
            </li>
            <li>
                <a href="{{url_for('calculator')}}">Calculator Program</a>
            </li>
            <li>
                <a href="{{url_for('inputoutput')}}">Input Output Table</a>
            </li>
            <li>
                <a href="#">Chick Jumping </a>
            </li>
        </ul>
    </div>
</body>

</html>

{% endblock %}