{% extends "base.html" %}
{% block content %}
<html>
<head>
    <style>
        body{background-color: lightgray;}
            a{color: black;}
            body{text-align: center; }
            button{
                background-color: #FDBD10;
                margin-top:100px ;
                align-items: center;
                padding: 10px;
            }
    </style>
</head>
<body>
    <div class="options">
        <ul>
                <a href="{{url_for('lawncare')}}"><button>LawnCare Problem</button></a>
                <a href="{{url_for('positivenegative')}}"><button>Positive Negative Zero</button></a>
                <a href="{{url_for('calculator')}}"><button>Calculator Program</button></a>
                <a href="{{url_for('inputoutput')}}"><button>Input Output Table</button></a>
                <a href="#"><button>Chick Jumping</button> </a>
        </ul>
    </div>
</body>

</html>

{% endblock %}