{% extends "base.html" %}
{% block content %}
<html>
<head>
    <style>
        body{background-color: lightgray;}
            a{color: black;}
            body{text-align: center; }
        button{
                background-color: #FDBD10;
                margin-top:100px ;
                align-items: center;
                padding: 10px;
            }
    </style>
</head>
<body>

    <div class="options"></div>
        <ul>
                <a href="{{url_for('sorting')}}"><button>Sequences/Sorting </button> </a>
                <a href="#"><button>Binary Numbers</button></a>
        </ul>
    </div>
</body>

</html>

{% endblock %}