{% extends "base.html" %}
{% block content %}
<html>
<head>
    <style>
        body{background-color: lightgray;}
            a{color: black;}
            body{text-align: center; }
            button{
                background-color: #FDBD10;
                margin-top:100px ;
                align-items: center;
                padding: 10px;
            }
    </style>
</head>

<body>



    <div class="options">
        <ul>
                <a href="#"><button>Minecraft Exercises</button></a>
                <a href="{{url_for('links')}}"><button>Scratch Exercises</button> </a>
        </ul>
    </div>
</body>

</html>

{% endblock %}